:root {
  --primary-color: #1a1a1a; /* charcoal black*/
  --primary-accent-color: #d4af37; /* metallic gold */
  --text-color: #e0e0e0; /* light gray */
  --highlight-color: #faf5e9; /* off-white */
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--primary-color);
}
h2,
h3 {
  color: var(--primary-accent-color);
}
.logo {
  font-family: "Cinzel", serif;
  font-size: 28px;
  letter-spacing: 1px;
  color: var(--primary-accent-color) !important;
}
.nav {
  background-color: rgba(26, 26, 26, 0.9) !important;
  position: fixed !important;
  width: 100%;
  top: 0 !important;
  z-index: 1000 !important;
}
.nav a {
  color: var(--primary-accent-color) !important;
  text-decoration: none !important;
  transition: color 0.3s ease-in-out !important;
}
.nav a:hover {
  color: var(--primary-accent-color) !important;
}
.nav a {
  margin: 0 15px !important;
}

.nav a::after {
  content: "" !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -2px !important;
  width: 0 !important;
  height: 2px !important;
  background-color: var(--primary-accent-color) !important;
  transition: width 0.3s ease-in-out !important;
}
.nav a:hover::after {
  width: 100% !important;
}
.nav button {
  background-color: var(--primary-accent-color) !important;
}
.hero-section {
  background: url(../public/images/hero.jpg) center center / cover no-repeat;
  /* Full height */
  height: 100vh;
}

.button {
  background-color: var(--primary-accent-color) !important;
  color: var(--primary-color) !important;
  border: none !important;
  font-size: 16px !important;
  cursor: pointer !important;
}
.button:hover {
  background-color: transparent !important;
  color: var(--primary-accent-color) !important;
  border: 1px solid var(--primary-accent-color) !important;
}
.hero h1 {
  font-family: "Playfair Display", serif !important;
  color: var(--primary-accent-color) !important;
  font-size: 3.5rem !important;
  margin-bottom: 20px;
}
.hero-section {
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5 green, blue, alpha);
  color: var(--text-color) !important;
}
.services {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
  width: 300px;
}
