.hero {
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5 green, blue, alpha);
}
.services {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
nav {
  z-index: 9999;
}
